<div class="row mt-5">
    <div class="col-md-6 m-auto">
      
      <div class="card card-body text-center">
        <div class="d-flex">
          <h3 style="font-size: 50px; margin-bottom: 0;">Welcome to Reminders</h3>
          <a href="https://github.com/ancoreraj/Email-Reminders" target="_blank"><i class="fab fa-github fa-2x"></i></a>

        </div>
        
        <p>By Quinch Systems</p>
        <h1><i class="fas fa-business-time fa-2x"></i></h1>
        <p>Hi <%=user.name%>, choose your requirement.</p>
        <a href="/reminder/schedule" class="btn btn-primary btn-block mb-2"
          >Schedule Reminders</a
        >

        <button type="button" onclick="getAlert()" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Recurring Reminders
        </button>

        <!-- <a href="/reminder/recurring" class="btn btn-secondary btn-block">Recurring Reminders</a> -->
        <p class="mt-5 mb-0"><a href="/users/logout">Logout</a></p>
        <p class="mt-5 mb-0">Made By <a href="https://github.com/ancoreraj" target="_blank">Ankur Raj</a></p>
      </div>
    </div>
</div>
  