<div class="row mt-5">
    <div class="col-md-6 m-auto">
      
      <div class="card card-body text-center">
        <h3 style="font-size: 50px; margin-bottom: 0;">Welcome to Reminders</h3>
        <p>By Quinch Systems</p>
        <h1><i class="fas fa-business-time fa-2x"></i></h1>
        <p>Hi <%=user.name%>, choose your requirement.</p>
        <a href="/reminder/schedule" class="btn btn-primary btn-block mb-2"
          >Schedule Reminders</a
        >

        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Recurring Reminders
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                Sorry for inconvenience.<br>
                Recurring Reminder feature is coming soon.
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>



        <!-- <a href="/reminder/recurring" class="btn btn-secondary btn-block">Recurring Reminders</a> -->
        <p class="mt-5 mb-0"><a href="/users/logout">Logout</a></p>
        <p class="mt-5 mb-0">Made By <a href="https://api.whatsapp.com/send?phone=919507191293" target="_blank">Ankur Raj</a></p>
      </div>
    </div>
</div>
  