<div class="row mt-5">
    <div class="col-md-6 m-auto">
      
      <div class="card card-body">
          <h1 class="text-center">Reminders</h1>
        <h4 class="text-primary">The confirmation link is sent to your email. Please redirect to that link to complete your registration.</h4>

        <p class="text-primary">If you didn't receive the email, check if you entered the email correctly.</p>
      </div>
    </div>
</div>
  