<div class="row mt-5">
    <div class="col-md-6 m-auto">
      
      <div class="card card-body text-center">
          <h1>Reminders</h1>
        <h4>The confirmation link is sent to your email. Please redirect to that link to complete your registration.</h4>
      </div>
    </div>
</div>
  