<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-2" style="font-size: 50px;">Reminders</h1>
        
        <h3 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Schedule Reminder
        </h3>
        <% include ./partials/messages %>
        <form action="/reminder/schedule" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              autocomplete="off"
              required
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              placeholder="Enter Description"
              required
            >
          </div>
          <div class="form-group">
            <label for="scheduleTime">Schedule Time</label>
            <input
              type="datetime-local"
              id="scheduleTime"
              name="scheduleTime"
              class="form-control"
              placeholder="Create scheduleTime"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Save
          </button>
        </form>
        <p class="lead mt-4">Back-><a href="/dashboard">Home</a></p>
        <hr>

        <div>
          <h4 class="text-center mt-2"><u>All your scheduled reminders</u></h4>
          <table class="table table-hover">
            
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Reminder-Time</th>
                <th scope="col">Controllers</th>
              </tr>
            </thead>

            <%if(reminders){%>
              <%reminders.forEach((reminder)=>{%>
                <tbody>
                  <tr class="table-active">
                    <td><h5><%=reminder.name%></h5></td>
                    <td><h5><%=reminder.scheduleTime%></h5></td>
                    <td>
                      <div class="d-flex">

                        
                          <a href="/reminder/edit/<%=reminder._id%>" class="btn p-0 border-0 m-2"><i class="far fa-edit fa-2x"></i></a>
                        

                        <form action="/reminder/delete/<%=reminder._id%>" method="POST">
                          <button type="submit" class="btn p-0 border-0 m-2"><i class="fas fa-trash fa-2x"></i></button>
                        </form>

                      </div>
                      
                    </td>
                  </tr>
                </tbody>
              <%})%>

            <%}else{%>
              <h4>No Schedule Reminder created by you.</h4>
            <%}%>

            
            
          </table>
        </div>
      </div>
    </div>
  </div>
  