

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    
    <div class="card card-body text-center">
      <h1 style="font-size: 50px; margin-bottom: 0;">Reminders</h1>
      <p>By Quinch Systems</p>
      <h1><i class="fas fa-business-time fa-4x"></i></h1>
      <p>Create an Account or Login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      <p class="mt-5 mb-0">Made By <a href="">Ankur Raj</a></p>
    </div>
  </div>
</div>
